.songPlayerCont {
    width: 100%;
    position: sticky;
    bottom: 0;
    padding: 10px;
}
.controlsCont, .songName_HeartCont {
    background-color: #D9D9D9;
    padding: .7rem;
    width: 100%;
    height: fit-content;
    border-radius: 10rem;
    display: flex;
    justify-content: space-between;
    gap: .7rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.audioTag {
    width: 100%;
}
.songName_HeartCont_n_audTag_Cont {
    width: 100%;
    display: flex;
    gap: .7rem;
}
.songName_HeartCont {
    background-color: #F1F3F4;
    max-width: 27%;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    gap: 5px;
    align-items: center;
    padding: .3rem 1rem;
}
.songNameCont {
    width: 85%;
    display: flex;
    flex-direction: column;
}
.songNameClass, .artist, .movie {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.songNameClass {
    font-weight: 500;
    text-align: center;
}
.artist_n_Movie {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: .8rem;
}
.artist, .movie {
    max-width: 50%;
    width: fit-content;
}
.pipe {
    line-height: 15px;
}
.heart {
    display: flex;
    font-size: 1.5rem;
    width: fit-content;
    cursor: pointer;
    transition: .2s;
}
.heart:hover {
    opacity: .7;
}
.imgTag {
    position: relative;
    height: 54px;
    border-radius: 50%;
    border: 3px solid grey;
    aspect-ratio: 1/1;
}

@media only screen and (max-width: 800px), (max-height: 600px) {
    .controlsCont {
        border-radius: 30px;
        padding: .5rem;
    }
    .songName_HeartCont_n_audTag_Cont {
        flex-direction: column;
    }
    .songName_HeartCont {
        max-width: 100%;
    }
    .audioTag {
        height: 2.5rem;
    }
    .songNameCont {
        font-size: .8rem;
        flex-direction: row;
    }
    .artist_n_Movie {
        font-size: .6rem;
    }
}

/* SongPlayer.jsx mein 16th line no. par ye daal do:   
let imgSrc = songForSongPlayer.artworkUrl100? songForSongPlayer.artworkUrl100 :
    "https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3=w240-h480-rw"; */