.nav{
    margin-bottom: 1rem;
    background-color: var(--libContBgc);
    background-color: rgba(206, 206, 206, 0.658);
    backdrop-filter: blur(10px);
    display: flex;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    top: 0;
    position: sticky;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    font-size: 1.5rem;
} 
.nav li, .nav li a{
    display: flex;
    color: #505050;
    align-items: center;
    position: relative;
}
.activeness, .active{
    display: flex;
    transition: .5s;
}
.activeness:hover, .active:hover{
    opacity: .8;
}
.activeness::after,
.active::after{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    width: 0;
    border-bottom: 3px solid #505050;
    padding-bottom: 1rem;
    transition: .5s;
}
.active::after,
.nav li:hover .activeness::after {
    padding: 0 100% 1rem 100%;
}
.input{
    display: flex;
    width: 40%;
    height: calc(100% + 5px);
    align-items: center;
    position: relative;
}
#searchIcon {
    position: absolute;
    padding: 10px;
    font-size: 1.3rem;
}
.input input{
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #fff;
    border-radius: 5rem;
    text-align: center;
    border: none;
    outline: none;
    transition: .5s;
    font-size: 1rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.input input:focus{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}
.input li:not(#searchIcon){
    margin-left: 1rem;
    display: flex;
}
.nav li[title="Menu"]{
    display: none;
}
.nav ul span:not(.activeness){
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

@media only screen and (max-width: 1050px), (max-height: 600px) {
    .input input{
        padding-left: 2.5rem;
    }
}
@media only screen and (max-width: 600px), (max-height: 600px) {
    .input{
        width: 100%;
    }
    .input input{
        padding: .5rem 1rem;
        background-color: #F5F5F5;
    }
    .nav li[title="Menu"]{
        display: flex;
        cursor: pointer;
    }
    .menuCont {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 10px;
        height: fit-content;
        background-color: #dfdfdf;
    }
}