.foot{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: lightgrey;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.25rem;
    gap: 1rem;
}