.foot{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: lightgrey;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.65rem;
    gap: 1rem;
}
.doc{
    cursor: pointer;
    color: blueviolet;
}