.outerLibCont {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.libCont {
    background-color: lightgrey;
    padding: 1.5rem;
    padding-top: 2.7rem;
    border-radius: 20px;
    width: 100%;
    min-height: 195px;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    overflow: auto;
    scroll-behavior: smooth;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.libCont::-webkit-scrollbar {
    display: none;
}
.arrCont {
    position: absolute;
    background-color: #87878769;
    backdrop-filter: blur(25px);
    display: flex;
    border-radius: 50%;
    padding: 10px;
    transition: .2s;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3);
}
.arrCont:hover {
    opacity: .7;
    box-shadow: -2px 0px 10px 3px rgba(0, 0, 0, 0.3);
}
.right {
    right: 0.5rem;
}
.left {
    left: 0.5rem;
    transform: rotate(180deg);
}
.outerLibCont h3{
    position: absolute;
    top: 5px;
    left: 0;
    text-align: center;
    z-index: 1;
    width: 100%;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
}