.songCont {
    background-color: var(--songContBgc);
    padding: 1rem;
    border-radius: 15px;
    min-width: 28vw;
    aspect-ratio: 16/9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playBtn {
    position: relative;
    background-color: var(--playBtnBgc);
    display: flex;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
    font-size: 4rem;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.playBtn:hover {
    opacity: .7;
}
.songCont:hover .playBtn {
    opacity: 1;
    visibility: visible;
}
.songName {
    position: absolute;
    color: var(--lightFontColor);
    bottom: 10px;
    font-size: 1.5rem;
}
.right {
    right: -15px;
}
.left {
    left: -15px;
    transform: rotate(180deg);
}